@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  height: inherit;
  width: inherit;
  font: normal 1rem Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #231b22;
  background: mix(black, #ffffff, 1.5%);
}

input,
button {
  font: normal 1rem Roboto, sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

button.buttonContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 8px;

  transition: 300ms ease-out;

  &:disabled {
    background: #959595;
    color: #fff;
  }

  &.primary {
    color: #bee41e;
    background: linear-gradient(to left, #32205f 50%, #bee41e 50%) right;
    background-size: 200%;

    &:hover:not([disabled]) {
      background-position: left;
      color: #32205f;
    }
  }

  &.secondary {
    color: #32205f;
    background: linear-gradient(to right, #bee41e 50%, #32205f 50%) left;
    background-size: 200%;

    &:hover:not([disabled]) {
      background-position: right;
      color: #bee41e;
    }
  }

  &.tertiary {
    color: #32205f;
    background: transparent;

    &:disabled {
      background: transparent;
      color: #959595;
    }

    &:hover:not([disabled]) {
      color: #bee41e;
    }
  }
}
